
body{
	
	background-image: url('../background.png');


}

.formContainer {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 3% auto;
	border: 2px solid #e0e0e0;
	padding: 1%;
	height: 100%;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	border-radius: 1%;
}

.formInscription {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto
}

hr{
	border: 1px solid black;
	width: 100%;
}

#shadow{
	background-color: rgba(0, 0, 0, 0.5);
}